.span8
  .page-header
    %h1 
      Gigs
      %small upcomming gigs, payments and goodness you care about
  .row
    .span4
      %h3 Future  
      -if @callsheets.empty?
        %h5 no gigs, sorry, I'll send you an email when something pops up. 
      -else
        %ul
          -@callsheets.each_with_index do |a, index|
            %p
              %h5= a.event.showdate
              %h5= a.call_time.localtime.strftime("%I:%M%p")
              %h6= a.event.title
    .span4
      %h3 Unsettled
      -if @un_assigments.empty?
        %h5 Everything is payed up, mo money mo problems
      -else
        %ul
          -@un_assigments.each_with_index do |a, index|
            %p

              %h5= a.event.title
              %h5= a.event.date
              %h4= "$#{a.balance}"

    