<<<<<<< HEAD
.row
  .span2
    %ul.nav.nav-list.well
      %li.nav-header Gigs
      %li
        %a{ :href => "/admin/assigments/"}
          %i.icon-th-list
          List
      -if current_account.role == "admin"
        %li.nav-header Callsheets
        %li.active
          %a{ :href => "#{url(:callsheets, :index)}"}
            %i.icon-time
            All
        %li.nav-header= "#{current_account.role} account"

        %li
          %a{ :href => "#{url(:accounts, :new)}"}
            %i.icon-plus
            Add User
      %li
        %a{ :href => "#{url(:accounts, :edit, :id => current_account.id)}"}
          %i.icon-user
          Edit

      %li
        %a{:href => "#{url(:authentications, :index)}"}
          %i.icon-cog
          Services

      
      -if current_account.role == 'admin'
        %li.first=link_to pat(:list), url(:callsheets, :index)
        %li=link_to pat(:new), url(:callsheets, :new)

  .span10
    
    .pager-header
      %h2 
        Add New Video
        %small select a video source 
      %table.table.table-striped
=======
.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:videos, :index)
      %li.active=link_to pat(:new), url(:videos, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:video)
    .inner
>>>>>>> 1acc8a2bf63cccaacb254b5ef810b027ba774ab5
      -form_for :video, url(:videos, :create), :class => :form do |f|
        =partial "videos/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
