!!! Strict
%html
  %head
    = stylesheet_link_tag 'fbbootstrap'
    = javascript_include_tag 'jquery','bootstrap','bootstrap-carousel','popcorn-complete','popcorn.sequence'
    %meta{:property => "fb:app_id", :content => "#{FB_APP_ID}"}
    %meta{:property => "og:type", :content => "pandafeed:video"}
    %meta{:property => "og:title", :content => "#{@event.title.to_s}"}
    %meta{:property => "og:image", :content => "#{@event.poster_url}"}
    %meta{:property => "og:description", :content => "an live event"}
    %meta{:property => "og:description", :content => "https://apps.facebook.com/pandafeed#{url_for(:fb, :live, :id => @event.id)}"}
  %body
    :javascript
      document.addEventListener("DOMContentLoaded", function () {
        var count=0;
        var $pop =Popcorn("#video"); 
        var videos = #{@videos.to_json};             
        $pop.listen('ended', function() {
            var nextindex= "#nowplaying" + count;
            $(nextindex).hide("slow");
            count++;
            if (count >= (videos.length))
              {
              count=0;
              }
            var nextVideo= videos[count];
            nextindex= "#nowplaying" + count;
            video.src = nextVideo;
            
            $(nextindex).show("slow");
            $pop.play();
                   
          });
        
        $pop.play();
        $("#nowplaying1").show("slow");  
      }, false);
    .container-fluid
      .hero-unit
        .row
          .span.8        
            #fb-ui-return-data  
            #fb-root
            %script{:src => "https://connect.facebook.net/en_US/all.js"}
            :javascript
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{FB_APP_ID}";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            :javascript
              FB.init({appId: "309232419150548", status: true, cookie: true});

              function buy(){
                var obj = {
                  method: 'pay',
                  action: 'buy_item',
                  //pass order info string
                  order_info: {'_id': '#{@event.id}'},
                  dev_purchase_params: {'oscif': true}
                };

                FB.ui(obj, js_callback);   
              };
              // This JavaScript callback handles FB.ui's return data and differs
              // from the Credits Callbacks.
              var js_callback = function(data) {
                if (data['order_id']) {
                  // Facebook only returns an order_id if you've implemented
                  // the Credits Callback payments_status_update and settled
                  // the user's placed order.

                  // Notify the user that the purchased item has been delivered
                  // without a complete reload of the game.
                  window.location = "https://purplepanda.heroku.com/fb/live/?#{@event.id}"
                  //write_callback_data(
                    //"<br><b>Transaction Completed!</b> </br></br>"
                    //+ "Data returned from Facebook: </br>"
                    //+ "Order ID: " + data['order_id'] + "</br>"
                    //+ "Status: " + data['status']);
                } else if (data['error_code']) {
                  // Appropriately alert the user.
                  write_callback_data(
                    "<br><b>Transaction Failed!</b> </br></br>"
                    + "Error message returned from Facebook:</br>"
                    + data['error_code'] + " - "
                    + data['error_message']);
                } else {
                  // Appropriately alert the user.
                  write_callback_data("<br><b>Transaction failed!</b>");
                }
              };

              function write_callback_data(str) {
                document.getElementById('fb-ui-return-data').innerHTML=str;
              }
             
               
      
            
                   
        .row
          .span.10
            .page-header
              %h2= @event.title
              %h6= @event.showdate.localtime.strftime('%a %b %d %Y')
              .row
                %object{ :width => '600', :height => '409'}
                  %param{ :name => "movie", :value => "http://fpdownload.adobe.com/strobe/FlashMediaPlayback_101.swf"}
                  %param{ :name => 'flashvars', :value => "#{@streamhub.fms_url}"}
                  %param{ :name => "allowFullScreen", :value => "true"}
                  %param{ :name => "allowscriptaccess", :value => "true"}
                  %embed{ :src => "http://fpdownload.adobe.come/strobe/FlashMediaPlayback_101.swf", :type => "application/x-shockwave-flash", "allowscriptaccess" => "always", "allowfullscreen" => "true", :width => "600", :height => "409", "flashvars" => "src=#{@streamhub.fms_url}"}
                .fb-live-stream{ "data-event-app-id" => "#{FB_APP_ID}", "data-width" => "300", "data-height" => "409", "data-always-post-to-friends" => "false"}
              .span10
                %p
                  = truncate_words(@event.description, :length => 100)                


      .row
        .span.12
          .page-header
            %h6 Past Events
          %ul.media-grid 