!!! Strict
%html
  %head
    = stylesheet_link_tag 'fbbootstrap'
    = javascript_include_tag 'jquery','bootstrap','bootstrap-carousel','popcorn-complete','popcorn.sequence'

  %body
    :javascript
      document.addEventListener("DOMContentLoaded", function () {
        var count=0;
        var $pop =Popcorn("#video"); 
        var videos = #{@videos.to_json};             
        $pop.listen('ended', function() {
            var nextindex= "#nowplaying" + count;
            $(nextindex).hide("slow");
            count++;
            if (count >= (videos.length))
              {
              count=0;
              }
            var nextVideo= videos[count];
            nextindex= "#nowplaying" + count;
            video.src = nextVideo;
            
            $(nextindex).show("slow");
            $pop.play();
                   
          });
        
        $pop.play();
        $("#nowplaying0").show("slow");  
      }, false);
    .container-fluid
      .hero-unit
        .page-header
          %h2
            = @event.title
            %small= @event.showdate.localtime.strftime('%a - %b %d, %Y')
        .row
          .span.12
            -if @promovid
              %video#video{"controls" => ""}
                %source{:src => @promovid.source_url}
            -else
              .row
                .span6
                  = image_tag @event.poster_url, :class => 'thumbnail', :width => 400
               
        .row
          .span10
            %a.btn.primary.large{:onclick => "buy()"} $#{@event.price}
            %a.btn.large{ :onclick => "postToFeed()"} Share
            %a.btn.large{ :onclick => "inviteToWatch()"} Invite
            %a.btn.large{ :onclick => "attending()"} Attending
            %div{:id => "nowplaying" + @event.id.to_s, :style => "display:none;"}
              %a.btn.primary.large $#{@event.price}
              %a.btn.large Share
              %a.btn.large Info
              %h6= @event.title  

            #fb-ui-return-data  
            #fb-root
            %script{:src => "https://connect.facebook.net/en_US/all.js"}
        
            :javascript
              FB.init({appId: "309232419150548", status: true, cookie: true, frictionlessRequests: true});

              function buy(){
                var obj = {
                  method: 'pay',
                  action: 'buy_item',
                  //pass order info string
                  order_info: {'_id': '#{@event.id}'},
                  dev_purchase_params: {'oscif': true}
                };

                FB.ui(obj, js_callback);   
              };
              // This JavaScript callback handles FB.ui's return data and differs
              // from the Credits Callbacks.
              var js_callback = function(data) {
                if (data['order_id']) {
                  // Facebook only returns an order_id if you've implemented
                  // the Credits Callback payments_status_update and settled
                  // the user's placed order.

                  // Notify the user that the purchased item has been delivered
                  // without a complete reload of the game.
                  window.location = "https://apps.facebook.com/pandafeed/live/#{@event.id}"
                  //write_callback_data(
                    //"<br><b>Transaction Completed!</b> </br></br>"
                    //+ "Data returned from Facebook: </br>"
                    //+ "Order ID: " + data['order_id'] + "</br>"
                    //+ "Status: " + data['status']);
                } else if (data['error_code']) {
                  // Appropriately alert the user.
                  write_callback_data(
                    "<br><b>Transaction Failed!</b> </br></br>"
                    + "Error message returned from Facebook:</br>"
                    + data['error_code'] + " - "
                    + data['error_message']);
                } else {
                  // Appropriately alert the user.
                  write_callback_data("<br><b>Transaction failed!</b>");
                }
              };
              function postToFeed() {
                //calling the API
                var obj = {
                  method: 'feed',
                  link: "https://apps.facebook.com/pandafeed/show/#{@event.id}",
                  picture: '#{@event.poster_url}',
                  name: "#{@event.title.to_s}",
                  caption: 'come join me watching this awesome event',
                  description: 'a live ppv extravaganza'
                };

                function callback(response){
                  document.getElementById('msg').innerHTML = "POST ID:" + response['post_id'];
                };

                FB.ui(obj, callback);

              }

              function inviteToWatch() {
                //calling the api 
                var obj = {
                  method: 'apprequests',
                  message: "come Watch #{@event.title} on Facebook"
                };
                FB.ui(obj);
              }
              function write_callback_data(str) {
                document.getElementById('fb-ui-return-data').innerHTML=str;
              }
             

      
            
                   
        .row
          .span.8
            %p
              = truncate_words(@event.description, :length => 100)                


      .row
        .span.12
          .page-header
            %h6 Past Events
          %ul.media-grid 