.row
  .span2
    %ul.nav.nav-list.well
      %li.nav-header Gigs
      %li.first.active
        %a{ :href => "/admin/assigments/"}
          %i.icon-th-list
          List

      %li.nav-header= "#{current_account.role} account"
      -if current_account.role == "admin"
        %li=link_to pat(:new), url(:accounts, :new)
      %li
        %a{ :href => "#{url(:accounts, :edit, :id => current_account.id)}"}
          %i.icon-user
          Edit

      %li
        %a{:href => "#{url(:authentications, :index)}"}
          %i.icon-cog
          Services

  .span8
    .content
      %h3.title
        #{@account.name} #{@account.surname}
        %small= @account.role
      %p
    .span8
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#info", "data-toggle" => "tab"} Info
          %li
            %a{:href => "#gigs", "data-toggle" => "tab"} Gigs


        .tab-content
          .tab-pane.active#info
            .row
              .span2
                = image_tag @account.avatar, :class => "thumbnail"
              .span4
                %p
                  %h6 Connect
                %p.pull-right
                  -if @account.authentications.empty?
                    %h5 #{@account.name} is not sharing contact info
                  -else 
                    .row
                      - @account.authentications.each do |authentication|
                        = link_to image_tag("#{authentication.provider}_32.png", :size => "64x64"), "#{authentication.profile_url}", :target => '_blank'
          .tab-pane#gigs
            - @gigs.each do |g|
              .row
                %h4= g.callsheet.event.title
              .row              
                .span2
                  %h6= g.task
                  %h5= g.callsheet.call_time.localtime.strftime('%b %d')
                  -unless @venue.nil?
                    %h6= link_to @venue.name, @venue.url, :target => "_blank"
                .span2
                  %p
                    - mapimg= 'http://maps.googleapis.com/maps/api/staticmap?center='+g.callsheet.event.location[0].to_s+g.callsheet.event.location[1].to_s+'&zoom=15&size=100x100&scale=2&maptype=roadmap&sensor=false'
                    = link_to (image_tag  mapimg, :class => "thumbnail"), url(:callsheets, :show, :id => g.callsheet.id)              
                .span3
                  .row
                    -g.callsheet.assigments.each do |a|
                      .span1
                        = image_tag a.account.avatar, :class => "thumbnail"
                        %h6= link_to a.account.name, url(:accounts, :show, :id => a.account.id)

            


