
.title
  %a{ :href => 'http://pandafeed.tv/admin/callsheets/show/#{callsheet.id}'} callsheet.event.title
  %h5= callsheet.call_time.localtime.strftime('%a %b  %d')
  %h2= callsheet.call_time.localtime.strftime("%I:%M%p")
  .span3
  %p
  %address
  -unless venue.nil?
    %h6=  venue.name
    %strong= location
  %h4
    %a{ :href => 'http://pandafeed.tv/admin/callsheets/show/#{callsheet.id}'} View Gig on Panda
  %h6 CREW
  - callsheet.assigments.each do |a|
    .span1
      .row
        %h3=  a.account.name
        %h5= a.task
        %h5= a.account.phone
      
