!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title PandaFeed.TV Admin
    =stylesheet_link_tag 'bootstrap', 'jquery-ui-timepicker-addon'
    =javascript_include_tag 'jquery', 'bootstrap','bootstrap-tab','bootstrap-dropdown', 'bootstrap-modal', 'jquery-ui-timepicker-addon', 'jquery-ui-1.8.18.custom.min'
    %script{:type => "application/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCarC9Mc24ezPR2Q-joO6fiZNRTxHqKq9Q&sensor=false"}
    -if @callsheet
      :javascript
        function initialize() {
          var eventlatlng = new google.maps.LatLng(#{@callsheet.event.location[0].to_s+@callsheet.event.location[1].to_s});
          var myOptions = {
            center: eventlatlng,
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);
          var marker = new google.maps.Marker({
            position: eventlatlng,
            map: map,
            title: "#{to_address(@callsheet.event.location)}"
          });
        }
  %body{ :onload => "initialize()"}
    %div.navbar
      %div.navbar-inner
        %div.container-fluid
          =link_to "Panda Feed", url(:base_index), :class => "brand"
          %ul.nav
            -project_modules.each do |project_module|
              %li{:class => ("active" if request.path_info =~ /^#{project_module.path}/)}
                =link_to project_module.human_name, project_module.path("/admin")
          %ul.nav.pull-right
            %i.topbar-divider
            %li#fat-menu.dropdown
              %a.dropdown-toggle{:href=> "#", "data-toggle" => "dropdown"}
                %i.icon-user.icon-white
                %b.caret
              %ul.dropdown-menu
                %li{:style => "display: block; margin-left: auto; margin-right: auto;"}
                  = link_to (image_tag current_account.avatar, :class => "thumbnail", :height => "10"), url(:accounts, :edit, :id => current_account.id)
                  %p
                    %h4= current_account.name + current_account.surname
                    %h6= current_account.role
                %li.divider 

                %li= button_to pat(:logout), url(:sessions, :destroy), :method => :delete, :class => "btn btn-small"
          :javascript
            $(function () {
              $('.dropdown-toggle').dropdown();
            })   
    .container-fluid
      =yield
    #footer
      .block
        %p
          Copyright &copy;
          =Time.now.year
          PandaFeed.TV - Powered by
          =link_to "MixdMatchdSoft, LLC", "http://mysocksdontmatch.com", :target => :_blank

