!!! Strict
%html
  %head
    %title= [@title, "GFL.TV"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application','bootstrap'
    = javascript_include_tag 'jquery', 'application','bootstrap','popcorn-complete','bootstrap-tab','bootstrap-dropdown'
    = yield_content :include
  %body
    %div.navbar
      %div.navbar-inner
        %div.container
          %a.brand iGFL
          %ul.nav
            %li= link_to 'Events', url_for(:events, :index)
            %li= link_to 'About', url_for(:about)
          - form_tag url_for(:events, :index), :class => 'navbar-search pull-right', :method => 'get'  do
            Search for:
          = text_field_tag 'query', :value => params[:query]
          = submit_tag 'Search'
    .container
      .row
        .span12= yield
    #sidebar
    #footer