.row
  .span2
    %ul.nav.nav-list.well
      %li.first=link_to pat(:list), url(:callsheets, :index)
      %li=link_to pat(:new), url(:callsheets, :new)
      -if current_account.role == 'admin'
        %li.active=link_to pat(:edit), url(:callsheets, :edit, :id => @callsheet.id)
      %li=link_to pat(:show), url(:callsheets, :show, :id => @callsheet.id)
  .span6
    .content
      %h2.title
        =@callsheet.event.title
      -form_for :callsheet, url(:callsheets, :update, :id => @callsheet.id), :method => :put, :class => :form do |f|
        =partial "callsheets/form", :locals => { :f => f }


  .span4
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => "#crew", "data-toggle" => "tab"} Crew
        %li
          %a{:href => "#event", "data-toggle" => "tab"} Event Info
        %li
          %a{:href => "#map", "data-toggle" => "tab"} Map

      .tab-content
        .tab-pane.active.well#crew
          -if @callsheet.assigments.empty?
            no crew members are on call 
          -else
            - @callsheet.assigments.each do |a|
              %h3=link_to a.account.name, url_for(:accounts, :edit, :id => a.id)
              %h6= a.task
          %h2= @callsheet.call_time.localtime.strftime("at %I:%M%p")
          %a.btn.btn-small.btn-primary{ "data-toggle" => "modal", :href => "#crewpicker"} Add
          %p
          #map_canvas{:style => "width: 270px; height:350px; padding-top:10px;"} 
        .tab-pane.well#event
          %ul.thumbnails
            %li
            .thumbnail
              
              .caption
                =image_tag @callsheet.event.poster_url, :width => "200", :class => "thumbnail"
                %h5= @callsheet.event.title
                %p awesome event description goes here
                :javascript
                  $(function () {
                    $('.tabs').tabs();
                    $('#crewpicker').modal(options);
                  })

        .tab-pane.well
        
#crewpicker.modal.hide.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} x
    %h3 Select Crew Members
    %h Available Budget: $#{@callsheet.event.budget_avail.to_i} 
    .modal-body
      -@crew.each do |c|
        -form_for :assigment, url(:assigments, :create), :class => "form-inline" do |f|
         
          =f.hidden_field :callsheet_id, :value => @callsheet.id
          =f.hidden_field :account_id, :value => c.id
          =f.hidden_field :settled, :value => false
          =c.name 
          =f.select(:task, :options => ['Camera OP','Audio', 'PA', 'Switcher', 'Replay Tech', 'Stream Tech', 'Director', 'Eye In the Sky'], :class => "input-small")
          =f.number_field :dayrate, :size => 2,  :class => "input-small", :placeholder => "dayrate"
          =submit_tag pat(:save), :class => "btn btn-large"

            
    .modal-footer
      =submit_tag pat(:cancel), :onclick => "window.location='#{url(:events, :index)}';return false", :class => :button
          
             
             