.row
  .span2
    %ul.nav.nav-list.well
      %li.nav-header Gigs
      %li.first.active
        %a{ :href => "/admin/assigments/"}
          %i.icon-th-list
          List

      %li.nav-header= "#{current_account.role} account"
      -if current_account.role == "admin"
        %li=link_to pat(:new), url(:accounts, :new)
      %li
        %a{ :href => "#{url(:accounts, :edit, :id => current_account.id)}"}
          %i.icon-user
          Edit

      %li
        %a{:href => "#{url(:authentications, :index)}"}
          %i.icon-cog
          Services

      
      -if current_account.role == 'admin'
        %li.first=link_to pat(:list), url(:callsheets, :index)
        %li=link_to pat(:new), url(:callsheets, :new)
        %li=link_to pat(:edit), url(:callsheets, :edit, :id => @callsheet.id)
  .span8
    .content
      %h3.title
        =@callsheet.event.title
        %p
    .span8
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#crew", "data-toggle" => "tab"} Crew
          %li
            %a{:href => "#event", "data-toggle" => "tab"} Event Info
          %li
            %a{:href => "#venue", "data-toggle" => "tab"} Venue Tips

        .tab-content
          .tab-pane.active#crew
            -if @callsheet.assigments.empty?
              no crew members are on call 
            -else
              - @callsheet.assigments.each do |a|
                .span1
                  .row
                    = link_to (image_tag a.account.avatar, :class => "thumbnail"), url(:accounts, :show, :id => a.account.id)
                    %h3= link_to a.account.name, url(:accounts, :show, :id => a.account.id)
                    %h5= a.task 
                    %h6 #{distance_between(a.account.location, a.callsheet.event.location).to_i} miles 
            .row
              .span3
                %p
                  %h5= @callsheet.call_time.localtime.strftime('%a %b  %d')
                  %h2= @callsheet.call_time.localtime.strftime("%I:%M%p")
                  %address
                    -unless @venue.nil?
                      %h6= link_to @venue.name, @venue.url, :target => "_blank"
                    %strong= to_address(@callsheet.event.location)
                  %h5= link_to "directions", g_maps_directions_url(current_account.location, @callsheet.event.location), :target => "_blank"
            .row
              .span4{:style => "padding-top:20px;"}
                %p
                #map_canvas.well{:style => "width: 310px; height:350px; padding-top:10px;"} 
              .span4
                #directions_panel    
          .tab-pane#event.span4
            =image_tag @callsheet.event.poster_url, :width => "300", :class => "thumbnail"
            = link_to pat(:edit), url(:events, :edit, :id => @callsheet.event.id)          
            .caption
              %h5= @callsheet.event.title 
            %p
              = truncate_words(@callsheet.event.description, :length => 40) 
              :javascript
                $(function () {
                  $('.tabs').tabs();
                  $('#crewpicker').modal(options);
                })
          -unless @venue.nil? || @venue == 0
            .tab-pane#venue
              .span5
                %h5
                  = @venue.name
                  %small 
                %p

                -@venue.tips_limit(14).each do |tip|
                  .row
                    .span1
                      = image_tag tip["user"]["photo"], :class => "thumbnail"
                      
                      
                    .span4
                      %h6= link_to "#{tip["user"]["firstName"]} #{tip["user"]["lastName"]}" , tip["user"]["canonicalUrl"], :target => "_blank"
                      %p
                        = tip["text"]
                      %p.pull-right
                        %small #{distance_of_time_in_words(tip["createdAt"], Time.now)} ago







        
          
             
             